th,td{
             
             padding: 8px;
             text-align: center;
   
        }
       table{
          
          display: flex; 
          justify-content: center;
       }
       h1{
        color:aqua;
        font-family: 'Cenzel', serif;
        font-size: 2.40rem;
       }
body{
    background-image: url("pexels-rafael-guajardo-194140-604684.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}
.title{
    color: aqua;
}