body{
    background-image: url("pexels-souvenirpixels-1519088.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
   
}
label{
    color: aqua;
    font-weight: 600;
    font-size: 1.1rem;
}
textarea {
    background-color: transparent;
    border-radius: 8px;
    border: 2px solid  aqua;
    padding: 0.75rem;
    border-radius: 0.375rem;
    transition: border-color 0.2s ease; 
    box-sizing: border-box;
    font-size: 1rem;
}
h1{
    text-align: center;
    color: aqua;
    text-shadow: 1px 1px black; 
    margin-bottom: 2rem;
    text-align: center;
    font-weight: 600; 
    font-size: 2rem;
}
.buton{
    background-color: aqua;
    color: black;
    cursor: pointer;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.1s ease; 
    font-size: 1rem;
    font-weight: 600;
}
.form-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.form-left, .form-right {
    flex: 1;
    min-width: 250px;
}
fieldset,p {
    border: 1px solid rgb(242, 240, 240);
    background-color: transparent;
    padding: 3rem;
    border-radius: 1rem;  
        box-shadow: 0 6px 1000px rgba(0,0,0,0.1); 
        width: 100%;
        margin: 1rem auto;
        box-sizing: border-box;
}
legend {
    font-size: 1.5rem;
    font-weight: bold;
    color:  blue;
    margin-bottom: 10px;
    text-shadow: 1px 1px black; 
   
}
input[type="text"], input[type="date"], input[type="number"], input[type="password"], select[name="pays"]{
    padding: 8px;
    width: calc(100% - 140px);
    max-width: 300px;
     background-color: transparent;
     border-radius: 8px;
     border: 2px solid  aqua;
     box-shadow: 0 0 0 3px transparent;
     color: white;
}
::placeholder{
    font-size: 0.75rem;
    color: white;
}
select{
    color: white;
font-size: 1rem;
font-weight: bold;
}
option{
    color: black;
}



