h1
{
text-align: center;
color: chartreuse;
font-size: 40px;
font-family: 'Montserrat', sans-serif;
text-shadow: 2px 2px black; 
}
h2{
    text-align: center;
    color:aqua ;
    font-size: 30px;
    font-weight: bold;
    font-family:'Montserrat', sans-serif ;
    text-shadow: 2px 2px black; 
}
img{
    margin-left: 400px;
}
body{
     background-image: url("istockphoto-1194783078-1024x1024.webp"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}
p{
    color: whitesmoke;
    font-size: 1.35rem;
    font-family: 'Cormorant Garamond',serif;
    font-weight: bold; 
}
