body{
  background-image: url("pexels-souvenirpixels-1519088.jpg"); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Segoe UI', sans-serif;

  
}
.container-tableau {
    display: flex; 
    justify-content: center; 
  }
 th,td{
    border: 6px solid black;
    padding: 8px;
    text-align: center;
   
  }
  table{
     border-collapse: collapse
  }
  h1{
    color: aqua;
    text-shadow: 1px 1px black;
    font-family:'Montserrat', sans-serif ;
}  
 
h2{
  color:aqua;
  margin-top: 0px;
  text-shadow: 1px 1px black; 
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  border-bottom: 1.5px solid aqua;
  text-decoration: none;
} 
ol{
  list-style-position: inside;
}

li{
  font-weight: bold;
  color: rgb(2, 6, 6);
}
strong{
  color: aqua;
}
.buton{
    background-color: cyan;
    color: black;
    cursor: pointer;
    padding: 5px 10px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 8px;
    text-decoration: none;
    font-family: 'Cormorant Garamond',serif;   
}

p, li{
  color: white;
  font-style: normal;
  font-size: 1.25rem;
  font-weight: 400;
}